.bottom-title
  Welcome back!

.entry-message-body
  Please use the link we have sent you before via SMS. 
  = link_to 'Need to resend SMS?', user_entry_resend_sms_path(primary_key: @user.phone_number)
