.bottom-title.paragraph
  = "Welcome to #{config_or_locale(:company_name)}! We do not have your number on file. To get started, we'll need to send you a private link to the number you entered."
.paragraph
  = form_tag send_first_sms_user_entry_path, id: 'send-first-sms-form' do
    %input#first-sms-submit.btn.btn-default{type: 'submit', value: 'Send SMS'}
