body {
 height: auto;
 width: 100%;
 font-family: 'Cabin', sans-serif;
 font-size: $base-font-size;
}

h1 {
  font-size: 1.25 * $base-font-size;
}

.paragraph {
  margin-bottom: 10px;
}

.flash-box {
  padding: 10px 5px;
  min-height: 40px;

  background-color: lightred;
  color: black;

  display: inline-block;
  margin: auto;
}

.fixedwidth-container {
  max-width: 450px;
  min-height: 600px;
  margin: 0 auto;
  padding: 10px;

  form {
    .form-row {
      margin-top: 5px;
    }

    label.form-control {
      background-color: transparent;
      border-color: transparent;
      padding-bottom: 5px;
      padding-left: 0px;
    }
  }
}

.door-title {
  font-size: 1.1em;
}

.error-box {
  color: #FF0000;
  min-height: 40px;
  margin-bottom: 5px;
}

.my-hidden {
  display: none;
}

.dash-action-form {
  display: inline-block;
  margin-right: 10px;
}

.center-div {
  margin: 0 auto;
}

.half-width {
  width: 50%;
}

.notice {
  padding: 10px;
  background-color: $notice-background;
  margin-bottom: 10px;
}

.section-divider {
  padding-bottom: 10px;
  border-top: solid 1px $sectiondivider-gray;
  margin-top: 5px;
}

.payment-errors {
  background-color: $background-red;
  padding: 10px 5px;
  margin-top: 10px;
  .bottom {
    margin-top: 0px;
  }
}

.small-font {
  font-size: $base-font-size * 0.75;
}

.center-text {
  text-align: center;
}

.footer-div {
  clear: both;
  margin-top: 30px;
}

.resend-sms-alert {
  a { color: white; }
  background-color: red;
  width: 40%;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}
