.mobile-main {
  background-color: $background-fadedwhite;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid $border-blue;
}

.logo-top {
  margin-bottom: 20px;
  width: 200px;
}

.fake-bgrd {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: $background-white;
  top: 0;
  left: 0;
}
