// colors
$light-gray: #D4D4D4;
$background-red: #b33d14;
$background-fadedwhite: #f7f7f7;
$background-white: #FFF;
$border-blue: #4078C0;
$notice-background: #FFCC00;
$sectiondivider-gray: #D8D8D8;

// font sizes
$base-font-size: 18px;
